<html xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    
    <link rel="stylesheet" href="../../css/modal/fundo.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../css/modal/modal.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <title>Alterar Senha</title>
  </head>

  <body>
    <div class="area" >
      <ul class="circles">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
      </ul>
  </div >
  
    <div class="context">
      <div class="container">

  
        <!-- Modal -->
        <div class="modal mdal" id="myModal" tabindex="-1" role="dialog" data-backdrop="static">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content md-content">
              <div class="modal-header">

              </div>
              <div class="modal-body">
                <form
                  action="alteraSenha"
                  method="post"
                  class="form col-md-12 center-block"
                >
                  <input
                    type="hidden"
                    name="userId"
                    th:value="${usuario?.userId}"
                  />
                  <div class="form-group" >

                    <input
                      type="password"
                      name="senha"
                      placeholder="Nova Senha"
                      class="form-control input-lg"

                      required
                      maxlength="20"
                    />
                  </div>
                  <div class="form-group">
                    <button
                            class="btn btn-primary btn-lg btn-block"
                            type="submit"
                            th:onclick="'javascript:alert(\'Senha alterada com sucesso!\');'">
                      Enviar
                    </button>
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div>
      </div>
  </div>

    
    <script src="../../js/modal/modal.js"></script>
  </body>
</html>
