* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

html,
body {
  /* height: 100vh;*/
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  background-color: #7159c1;
  font-family: Roboto, Arial, sans-serif;
}

section {
  /*display: flex;*/
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 32px;
  letter-spacing: 1px;
  margin: 20px 0;
  color: white;
}

form {
  margin: 20px 0;
  background-color: white;
  padding: 30px 25px;
  border-radius: 5px;
  /*opacity: 80%;*/
  background: rgba(255, 255, 255, 0.8);

}

form .input-block {
  margin-bottom: 20px;
}

form .input-block label {
  font-size: 20px;
  color: darkslateblue;
}

p {
  text-align: center;
}

form .input-block input, .numeros,
textarea {
  width: 100%;
  display: block;
  margin-top: 8px;
  padding: 7px;
  font-size: 16px;
  color: #7159c1;
  border-radius: 2px;
  border: 1px solid #ccddef;
  outline-color: #7159c1;
  resize: none;
}

form .btn-login {
  display: block;
  min-width: 120px;
  border: none;
  background-color: #7159c1;
  color: white;
  border-radius: 25px;
  margin-top: 25px;
  padding: 7px;

}

/* APARIÇÃO DO FORM */
form {
  overflow: hidden;
  animation: fade 0.2s;

}

form .input-block:nth-child(1) {
  animation: move 500ms;
}

form .input-block:nth-child(2) {
  animation: move 400ms;
  animation-delay: 100ms;
  animation-fill-mode: backwards;
}

form .btn-login {
  animation: move 400ms;
  animation-delay: 250ms;
  animation-fill-mode: backwards;
}

@keyframes move {
  from {
    opacity: 0;
    transform: translateX(-35%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Quando clicar no botão, sumir com o form */
.form-hide {
  animation: down 1.2s forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes down {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100vh);
  }
}

/* FORM NO-NO */

form.validate-error {
  animation: nono 200ms linear, fade paused;
  animation-iteration-count: 2;
}

@keyframes nono {

  0%,
  100% {
    transform: translateX(0);
  }

  35% {
    transform: translateX(-15%);
  }

  70% {
    transform: translateX(15%);
  }
}



.squares li {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  display: block;
  position: absolute;
  bottom: -40px;
  animation: up 2s infinite alternate;
  z-index: -1;
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(0);
  }

  50% {
    opacity: 1;
  }

  to {
    transform: translateY(-800px) rotate(960deg);
  }
}


.comentindivi {
  width: 80%;
  height: 80px;
  resize: none;
  padding-top: 20px;
}

.separa {
  padding-top: 30px;
  text-align: center;
  padding-left: 30%;
}

.striped,
.topo {
  display: inline;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 100%;
  float: left;
  width: 100%;
  font-size: 13px;
  letter-spacing: 1px;

}

.striped {
  padding: 2%;
  width: 60%;
  margin-top: 0%;
  margin-left: 3%;
}

.topo {
  text-align: center;
  margin: 20px 0;
  background-color: white;
  padding: 30px 25px;
  border-radius: 5px;
  /*opacity: 80%;*/
  background: rgba(255, 255, 255, 0.8);
}

.logo {
  float: right;
  max-width: 60%;
  position: absolute;
  top: 10%;
  right: 10%;
}

.pesq {
  width: 20%;
}

.carrossel {
  height: 100px;
  position: relative;
  overflow: hidden;

}

.carrossel div img {
  display: block;
  width: 100%;
}

.carrossel div {
  animation: switchY 10s ease-out infinite;
  width: 100%;
}


.div1 {
  position: absolute;
  top: 0;
}

.div2 {
  position: absolute;
  top: 100px;
}

@keyframes switchY {

  0%,
  26% {
    transform: translateY(0);
  }

  32%,
  58% {
    transform: translateY(0px);
  }

  64%,
  70% {
    transform: translateY(-110px);
  }

  76%,
  100% {
    transform: translateY(-110px);
  }
}


.comentgeral {
  margin-left: 5%;
  width: 100%;
  padding-top: 100px;
}

.inputcoment {
  width: 80%;
  height: 100px;
  resize: none;
}

.perguntaid {
  width: 80%;
}

.perguntas {
  display: flex;
  flex-direction: column;
  padding: 3%;
}

td {
  padding: 2%;
}

input[type="radio"] {
  visibility: hidden;
}

.emojis {
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  background-size: 100%;
  padding-right: 14%;
}

input[type="radio"]:checked+label {
  border-color: #ccf;
  border-radius: 30px;
  opacity: 1;
}

.naoAplica {
  display: inline-flex;
  padding: 30px;
}

.espaco {
  border-top: 20px;
}
.middle {
	width: 100%;
	max-width: 500px;
  padding: 35px;
}
.slider-container {
	position: relative;
}
.slider-container .bar {
	position: absolute;
	z-index: 1;
	left: 15px;
	right: 15px;
	top: 12px;
	height: 10px;
	border-radius: 5px;
	background-color: #d2c7ff;
	overflow: hidden;
}
.slider-container .bar .fill {
	display: block;
	width: 50%;
	height: 100%;
	background-color: #052753;
}
.slider-container .slider {
	position: relative;
	z-index: 2;
	-webkit-appearance: none;
	margin: 0;
	width: 100%;
	height: 10px;
	border-radius: 5px;
	outline: none;
	background-color: transparent;
  border: 0px;
}
.slider-container .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 30px;
	height: 30px;
	background-color: #052753;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
	transform: rotate(-45deg) translate(0%, 0%);
	cursor: pointer;
	outline: none;
	box-shadow: 0 0 0 0 rgba(255,255,255,0);
	transition: .3s ease-in-out;
  border: 0px;
  
}
.slider-container .slider:active::-webkit-slider-thumb,
.slider-container .slider::-webkit-slider-thumb:hover {
	border-bottom-left-radius: 0;
	transform: rotate(-45deg) translate(75%, -75%);
  border: 0px;
}
.slider-container .slider:active::-webkit-slider-thumb {
	box-shadow: 0 0 0 10px rgba(255,255,255,1);
  border: 0px;
}
.numero{
  display: flex;
  width: 100%;
  text-align: center;
  border: 0px;
  padding: 5px;
}
.numeros{
  border: 0px;
}
