<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Listar Respotas</title>
</head>
<body>

<br>
<table border="2" style="padding: 5px;">
    <thead>
    <th>Id Resposta</th>
    <th>Pergunta</th>
    <th>Media de Satisfacao</th>
    </thead>

    <tbody>
    <th:block th:each="li:${pesq.listaResposta}">
        <tr>
            <td th:text="${li.id}"/>
        <tr th:each="it:${li.listaItem}">
            <td>------------------------</td>
            <td th:text="${it.pergunta.textoPergunta}"/>
            <td th:text="${it.satisfacao}"/>
        </tr>
        </tr>

    </th:block>

    </tbody>

</table>

<!--<table border="2" style="padding: 5px;">-->
<!--    <thead>-->
<!--    <th>Pergunta</th>-->
<!--    </thead>-->

<!--    <tbody>-->
<!--    <tr th:each="p:${perg}">-->
<!--        <td th:text="${p.textoPergunta}" />-->
<!--    </tr>-->

<!--    </tbody>-->


<!--</table>-->






</body>
</html>
