<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Listar Respotas</title>
</head>
<body>

<table class="striped">
    <thead>
    <th>Curso</th>
    <th>Turma</th>
    </thead>

    <tbody>
    <tr>
        <td th:text="${pesq.curso.descCurso}"/>
        <td th:text="${pesq.turma}"/>
    </tr>

    <table border="2" style="padding: 5px;">
        <thead>
        <th>Pergunta</th>
        <th>Média de Satisfacao por Pergunta</th>
        </thead>

        <tbody>
            <tr th:each="p:${perg}">
                <td th:text="${p.textoPergunta}"></td>
            </tr>
        </tbody>

    </table>

<br>
<h1>COMENTÁRIOS</h1>
<table border="2" style="padding: 5px;">
    <thead>
    <th>Id Resposta</th>
    <th>Pergunta</th>
    <th>Comentario</th>
    <th>Justificativa</th>
    </thead>

    <tbody>
    <th:block th:each="li:${pesq.listaResposta}">
        <tr>
            <td th:text="${li.id}"/>
        <tr th:each="it:${li.listaItem}">
            <td>------------------------</td>
            <td th:text="${it.pergunta.textoPergunta}"/>
            <td th:text="${it.comentario}"/>
            <td><a th:href="@{#}">Solicitar Justificativa</a></td>
    </tr>
        </tr>

    </th:block>

    </tbody>

</table>

</body>
</html>
