<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Início Secretaria</title>
</head>

<body>

	<nav>
	<a href="/logout"><i class="material-icons right" style="font-size: 20px">exit_to_app</i></a>
	</nav>
<div>
		  
			<a href="/cadastro" style="margin: 0 40px 0 60px" >Cadastrar Usuario</a>
			
			<a href=" /lista/1" style="margin: 0 40px 0 60px" >Listar Usuario</a>
			
			<a href="/curso" style="margin: 0 40px 0 60px">Cadastrar Curso</a>
			
			<a href="/buscarCurso" style="margin: 0 40px 0 60px">Buscar por Curso</a>
			
			<a href="/listaCurso/1" style="margin: 0 40px 0 60px">Listar Curso</a>
			
			<a href="/pergunta/cadastrar" style="margin: 0 40px 0 60px">Cadastrar Nova Pergunta</a>
			
			<a href="/pergunta/listar" style="margin: 0 40px 0 60px">Listar Perguntas</a>

			<a href="/pesquisa/cadastrar" style="margin: 0 40px 0 60px">Cadastrar Pesquisa</a>
			
			<a href="/pesquisa/listar" style="margin: 0 40px 0 60px">Listar Pesquisa</a>

			<a href="/resposta/codigoPesquisa" style="margin: 0 40px 0 60px">Formulario</a>		
			
			<a href="https://app.powerbi.com/view?r=eyJrIjoiMDk3M2UwYmYtYzNiYi00YzgyLTg2ZjUtYTMwYWUwNmVkZTZhIiwidCI6ImIxMDUxYzRiLTNiOTQtNDFhYi05NDQxLWU3M2E3MjM0MmZkZCJ9" style="margin: 0 40px 0 60px" >Gerar Relatório</a>	
		</div>

	<table class="striped" border="1">
		ULTIMAS JUSTIFICATIVAS RESPONDIDAS
	    <thead>
		<th>Data</th>
	    <th>Pergunta</th>
	    <th>Comentario</th>
	    <th>Resposta Comentario</th>
		<th>Docente</th>

		</thead>

	    <tbody>
	    <tr th:each="j:${justItem}">
			<td th:text="${#dates.format(j?.data, 'dd/MM/yyyy')}"/>
			<td th:text="${j?.itemResposta?.pergunta?.textoPergunta}" />
			<td th:text="${j?.itemResposta?.comentario}" />
			<td th:text="${j?.texto}" />
			<td th:text="${j?.usuario?.nome}" />
		</tr>

	    </tbody>
	</table>
</body>
</html>