<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Início Secretaria</title>
</head>

<body>
<div>
		  
			<a href="/cadastro" style="margin: 0 40px 0 60px" >Cadastrar Usuario</a>
			
			<a href=" /lista/1" style="margin: 0 40px 0 60px" >Listar Usuario</a>
			
			<a href="/curso" style="margin: 0 40px 0 60px">Cadastrar Curso</a>
			
			<a href="/buscarCurso" style="margin: 0 40px 0 60px">Buscar por Curso</a>
			
			<a href="/listaCurso/1" style="margin: 0 40px 0 60px">Listar Curso</a>
			
			<a href="/pergunta/cadastrar" style="margin: 0 40px 0 60px">Cadastrar Nova Pergunta</a>
			
			<a href="/pergunta/listar" style="margin: 0 40px 0 60px">Listar Perguntas</a>
			
			<a href="/pesquisa/listar" style="margin: 0 40px 0 60px">Listar Pesquisa</a>
			
			<a href="/resposta/formulario" style="margin: 0 40px 0 60px">Formulario</a>		
			
			<a href="#" style="margin: 0 40px 0 60px" >Gerar Relatório</a>	
		</div>
</body>
</html>