<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<h1>Cadastro de Pergunta</h1>

	<form method="post" style="border:2" action="novaPergunta">

		<input type="hidden" name="id" th:value="${p?.id}"></input>

		<div>
			pergunta <input type="text" name="textoPergunta" th:value="${p?.textoPergunta}" required />
		</div>
		<br>
		<select name="idpesquisa" multiple>
			<option th:each="p:${pesq}" th:text="${p.id}" th:value="${p.id}"></option>
		</select>
		<div>
			<button type="submit">Cadastrar</button>
		</div>
	</form>

</body>

</html>