*:not(head, script, svg, svg *),
*:not(head, script, svg, svg *)::before,
*:not(head, script, svg, svg *)::after {
  all: unset;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0;

  backface-visibility: hidden; /* Force GPU Usage */
}

div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vmin;
  height: 40vmin;
  background: white;
  padding: 5vmin;
  border-radius: 2vmin;
  justify-content: space-evenly;
}

div h2 {
  font-size: 4vmin;
  line-height: 110%;
  font-weight: 600;
  color: black;
  text-align: center;
}

div p {
  font-size: 4vmin;
  line-height: 150%;
  font-weight: 400;
  color: black;
  padding-left: 8vmin;
  border-left: 2px solid navy;
  margin: 6vmin 0;
  width: 100%;
  overflow: hidden;
}

div a {
  font-size: 3vmin;
  background-color: navy;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2vmin 4vmin;
  border-radius: 1.5vmin;
}

a:hover {
  cursor: pointer;
}

a:focus {
  outline: 1px dotted gray;
}

a:active {
  transform: scale(0.98);
}

div::before {
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: white;
  border-radius: 100%;
  filter: drop-shadow(15vmin 15vmin 22vmin navy);
  transform-box: fill-box;
  -webkit-transform-box: fill-box;
  transform-origin: center;
  -webkit-transform-origin: center;
  content: "";
  z-index: -10;
  animation: shadowRotate 5s linear infinite;
}+ 

@keyframes shadowRotate {
  to {
    transform: rotateZ(360deg);
  }
}

.tudo{
}
/*input e button*/
.inbt{
    
}

/*input */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 50; 
}

input{
  width: 100px;
  height: 50px;
  display: flex;
    margin:5px;
    border: 1px solid;
    box-shadow: 0 0 10px rgba(0,0,0,.5); 
    padding:5px;
    border-radius: 20px;
}