<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../../static/css/cadastro-cursos/cad-curso.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <title>Cadastro de Cursos</title>
  </head>
  <body>
    

    <div class="area">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
	<div class="container main-div">
		<form action="salvarCurso" method="post">
		  <input type="hidden" name="id" th:value="${cs?.id}" />
		  <div class="mb-3">
			<h4>Cadastro de Cursos</h4>
			<input
			  type="text"
			  name="descCurso"
			  placeholder="Nome do Curso"
			  th:value="${cs?.descCurso}"
			  class="form-control"
			  id="nome-curso"
			/>
		  </div>
		  <div class="mb-3">
			<select
			  name="tipo"
			  class="form-select"
			  aria-label="Default select example"
			>
			  <option selected>Selecione o Tipo do Curso</option>
			  <option
				th:each="tipo : ${T(br.com.projeto.sistemadeavaliacao.model.TipoCurso).values()}"
				th:value="${tipo}"
				th:text="${tipo}"
				th:selected="${tipo.toString() == cs?.tipo?.toString()}"
			  ></option>
			</select>
		  </div>
  
		  <button type="submit" class="btn btn-primary">Salvar</button>
		</form>
	  </div>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
