<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Lista Buscar Curso </title>
</head>
<body>


	 
	<div class="divLista">
	<button onclick="history.go(-1);" class="btnReturn">Voltar para Cadastro de curso</button>
	
	    <table>
		    <thead>
			    <tr>
				    <th class="aumentar">id</th>
    			    <th class="aumentar">nome</th>
                  
		    	</tr>
		    </thead>
	    	<tbody id="tba">
	    		<tr th:each="user:${usuario}" >			
		    		<td th:text="${user.nome}" />
			    </tr>	
	    	</tbody>
	    </table>
	    
    </div>
	<script src="../../js/buscas/fetch.js"></script>
</body>
</html>