<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilo.css"/>
    <title>Avaliação de curso</title>
</head>
<body>

    <div class="principal">
        <div class="striped">
            
            <table>
             
                <thead>
        
                    <th>Código da pesquisa</th>
        
                    <th>Curso</th>
        
                    <th>Turma</th>
        
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${pesq.id}"/>
        
                        <td th:text="${pesq.curso.descCurso}"/>
        
                        <td th:text="${pesq.turma}"/>
        
                    </tr>
                </tbody>
            </table>        
        </div>
        <section class="superior">
        <img class="logo" src="imagens/Branco_01.png"><img class="kaos" src="imagens/Logo_KAOS.png"  width="300" height="200">
        </section>
        <div class="pergunta1">
            <img class="logo" src="imagens/Branco_02.png">
            <div class="range">
                <input type="range" min="0" max="10" step="5" list="tickmarks">
                <datalist id="tickmarks">
                    <option value="1" label="0%">
                    <option value="5" label="50%">
                    <option value="10" label="100%">
                </datalist>
            </div>
        <section class="emojisp">
            <img class="logo" src="imagens/Branco_03.png">
            <conteiner class="emocoes">
                <div> 
                    <button class="caras"><img src="imagens/emojis/1.png" width="60" height="60"></button>
                    <p> muito </p>
                    <p>insatisfeito</p>
                </div>
                <div>
                    <button class="caras"><img src="imagens/emojis/2.png" width="60" height="60"></button>
                    <p>insatisfeito</p>
                </div>
                <div>
                    <button class="caras"><img src="imagens/emojis/3.png" width="60" height="60"></button>
                    <p>regular</p>
                </div>
                <div>
                    <button class="caras"><img src="imagens/emojis/4.png" width="60" height="60"></button>
                    <p>satisfeito</p>
                </div>
                <div>
                    <button class="caras"><img src="imagens/emojis/5.png" width="60" height="60"></button>
                    <p> muito </p>
                    <p>satisfeito</p>
                </div>
            </conteiner>
        </section>
        <footer>
            <img class="logo" src="imagens/Branco_06.png">
        </footer>
    </div>
</body>
</html>