<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Formulario</h1>
	<form action="/buscar">
		<input type="search" name="id" placeholder="buscar por id">
	</form>

	<table class="striped">
		<thead>
			<th>Id</th>
			<th>Curso</th>
			<th>Turma</th>
		</thead>

		<tbody>
			<tr th:each="ps:${pesq}">

				<td th:text="${ps.id}"/>
				<td th:text="${ps.curso}"/>
				<td th:text="${ps.turma}"/>

			</tr>

		</tbody>
	</table>

    <form method="post" style="border:2" action="novoFormulario">

		<input type="hidden" name="id"></input>
		<input type="hidden" name="resposta_id"></input>
		
		<input type="number" name="pesquisa.id" placeholder="codigo da pesquisa"></input>

		<br>
			<table border="2" style="padding: 5px;">
				<tr>
					<tr th:each="p:${perg}">
						<td th:text="${p.id}"/>
						<td>Nivel de importancia - 1 a 5 <input type="int" name="nivelImportancia"/> </td>
						<td th:text="${p.textoPergunta}"/>
						<td>Nivel de satisfacao - 1 a 5 <input type="int" name="satisfacao"/></td>
						<td>Comentario <input type="text" name="comentario"/></td>
					</tr>
				</tr>
			</table>	

		<div>
			Comentario Geral <input type="text" name="comentarioGeral"/>
		</div>
		<div>
			<button type="submit">Cadastrar</button>
		</div>
	</form>

</body>
</html>