<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="../../css/erro/erro500.css" />
<title>Erro 500</title>
</head>
<body>
	<h5>Internal Server error !</h5>
	<h1>5</h1>
	<h1>00</h1>
	<div class="box">
		<span></span><span></span> <span></span><span></span> <span></span>
	</div>
	<div class="box">
		<span></span><span></span> <span></span><span></span> <span></span>
	</div>
	<p>
		Ocorreu um erro, não foi possível carregar a página, tente novamente
		mais tarde ou retorne a página anterior<a class="link" onclick="volta()"> clicando aqui!</a>
	</p>
	<script src="../../js/erro/erro404.js">
		
	</script>
</body>
</html>
