.alert-box{
    display:block;
    position:fixed;
    width:200px;
    padding:5px 20px 20px;
    background:#ddd;
    border:1px solid #999;
    text-align:center;
    transform:translate(-50%,-50%);
    top:50%;
    left:50%;
    z-index:99999;
    -webkit-box-shadow: 0px 0px 33px -6px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 0px 33px -6px rgba(0,0,0,0.59);
    box-shadow: 0px 0px 33px -6px rgba(0,0,0,0.59);
 }