@import url("https://fonts.googleapis.com/css?family=Karla|Space+Mono");

:root {
  --contentHeight: 30vh;
  --sectionWidth: 700px;
}

* {
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

section {
  max-width: var(--sectionWidth);
  margin: 40px auto;
  width: 97%;
}

.pdf{
  margin-top: 62px;
  margin-left: 35%;
  position: absolute;
}

.ipt-cont{
  margin: 30px 300px;
  margin-top: 10%;
  width: 330px!important;
  text-align: center;
}

summary {
  display: block;
  cursor: pointer;
  padding: 10px;
  font-family: "Space Mono", monospace;
  font-size: 22px;
  transition: .3s;
  border-bottom: 2px solid;
  user-select: none;
}

details > div {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  overflow-x: hidden;
  height: 100%;
  user-select: none;
  padding: 0 20px;
  font-family: "Karla", sans-serif;
  line-height: 1.5;
}
td{
  word-break: keep-all;
  width: 150px!important;
  white-space: normal;
  
}

.stquest{
  width: 25%;
}
.thquest{
  width: 25%;
}



details[open] > summary {
   color: red;
}

@media (min-width: 768px) {

  details[open] > div {
    animation-name: slideDown;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    border-left: 1px solid red;
  }



@keyframes slideDown {
  from {
    opacity: 0;
    height: 0;
    padding: 0;
  }

  to {
    opacity: 1;
    height: var(--sectionWidth);
    padding: 10px;
  }
}

@keyframes showContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
