<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Justifica RESPOSTA</title>
</head>
<body>
<h1>JUSTIFICATIVA RESPOSTA</h1>

<form method="post" style="border:2" action="novaJustiResp">

    <input type="hidden" name="id"/>
    <div>
        id da resposta
        <input type="text" th:name="resposta.id" th:value="${resposta?.id}" />
    </div>
    <br>

    <div>
        comentario geral <input type="text" th:value="${resposta?.comentarioGeral}" disabled>
    </div>
    <br>
    <div>
        justifique-se: <input type="text" name="texto">
    </div>
    <br>
    <div>
        <button type="submit" onclick="enviaJust()">Cadastrar</button>
    </div>
</form>
<script>
    function enviaJust() {
alert("Justificativa respondida com sucesso!!");
}
</script>

</body>
</html>