<html>
  <head>
    <title>Formulário</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
    <link rel="stylesheet" href="../../css/login/login.css" />
  </head>
  <body>
    <section class="login" id="fundo">
      <div class="head">
        <img class="img" src="../../static/img/kaozgreat.png" />
      </div>

      <p class="msg">Bem vindo de volta</p>

      <div class="form">
        <form>
          <input
            type="text"
            placeholder="NIF"
            class="text"
            id="username"
            required
          /><br />
          <input
            type="password"
            placeholder="••••••••••••••"
            class="password"
          /><br />
          <a href="#" class="btn-login" id="do-login">Login</a>
          <a href="#" class="forgot" id="do-forgot">Esqueceu a senha ?</a>
        </form>
      </div>
    </section>

    <script src="../../js/login/login.js"></script>
  </body>
</html>
