.container{
  width: 400px;
  margin-top: 18%;
  margin-left: 39%;
}
#pass {
  padding-right: 20px;
}

.olho{
  cursor: pointer;
  left: 90%;
  top: 5%;
  position: absolute;
  width: 40px;
}

.btn-mod{
  border-radius: 13px;
  font-size: 20px;
  margin-left: 15%;
}

.mdal{
  display: block;
  margin-top: 19%;
}
.md-content{
  height: 40%;
}

@media (min-width: 768px) {
  .mdal{
    display: block;
    margin-top: 19%;
  }
  .md-content{
    height: 65%;
  }
}