.main-div {
  /* overflow: hidden; */
  background-color: white;
  padding: 10px 30px 30px 30px;
  border-radius: 10px;
  position: absolute; 
  top: 50%;
  left: 50%;
  width: 400px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
  -moz-transition: -moz-transform 300ms, box-shadow 300ms;
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: #fff 0px 25px 20px -20px;
  opacity: 0.9;
}

.main-div h2 {
  align-items: center;
  text-align: center;
  padding: 20px;
}

.container {
  width: 500px !important;
}

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Exo', sans-serif;
}

thead {
	align-itens: center;
}
.context {
  width: 100%;
  position: absolute;
  top: 50vh;

}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}
h1{
  text-align: center;
}

.area {
  background: #002855;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;


}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;

}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100% {
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

.div1 {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0px 10px;

}

button {
  text-align: center;
  border-color: #4e54c8;
  height: 50px;
  width: 110px;
  border-radius: 10px !important;
  font-size: 14px !important;
  background-color: #fff;
  
}

h6 {
  text-align: center;
  font-size: small !important;
  margin: 0px !important;
}

.borda {
  border: 1px !important;
  border-style: dashed!important;
  border-color: rgb(211, 199, 255)!important;
  border-radius: 10px !important;
  padding: 8px;
}
.espacinho{
  height: 10px;
}
p{
  padding: 10px;
}
.text{
  font-family: Helvetica; 
  color: #4e54c8; 
  font-weight: bold; 
  font-size: small;
  text-align: center;
  padding-top: 20px;
}
.div-a{
  top: -55% !important;
  left: -55% !important;
}
.div-b{
  top: 20% !important;
  left: 150% !important;
}
.div-c{
  top: 20% !important;
  left: 285% !important;
}
.div-d{
  top: 20% !important;
  left: 20% !important;
}
.div-e{
  top: 60% !important;
  left: 60% !important;
}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  /*width: 92%;*/
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;

  color: black;
}
.navbar{
background: rgb(149,29,179);
background: linear-gradient(90deg, rgba(149,29,179,1) 0%, rgba(123,22,195,1) 36%, rgba(56,56,187,1) 65%, rgba(8,1,125,1) 93%);
/* background-color: #360568; */
/* background: rgb(2,62,138);
background: linear-gradient(90deg, rgba(2,62,138,1) 8%, rgba(0,119,182,1) 24%, rgba(0,150,199,1) 40%, rgba(0,150,199,1) 54%, rgba(0,119,182,1) 72%, rgba(2,62,138,1) 89%); */

}
.navbar-toggler {
color: #fff !important;


}
.material-icons{
color: #360568;

}


.container-fluid{

}
.navbar-brand {
width: 17% !important;

}

.id {
    width:5%;
}
.th-height {
  width: 30%;
}

.text, th {
  font-family: Helvetica;
  color: #4e54c8;
  font-weight: bold;
  font-size: small;
  text-align: center;
  padding-top: 20px;
  text-align: center;
}

table {
  margin: 0 5% 5% 5%;
  padding-bottom: 80px;
  width: 92% !important;
}
.tabelas{
  text-align: center;
  padding-top: 50px;
  
}
.ultima{
  text-align: center;
}

.pagination{
  margin-left: 45.5%;
  margin-right: 70%; 
  padding: 35px;
  
}
.scroll{
	height:500px;
  	overflow: scroll;
  	overflow-x: hidden;
}
#lista{
	font-style: italic;
}
.Logo_kaos{
  max-width: 200px !important;
}

.kaos{
  max-width:35px !important;
  padding-top: 10px;
}

.card{
  border:--bs-card-border-color var(--bs-border-color-translucent) !important;
}

.card-body {
  background: rgb(149,29,179);
background: linear-gradient(90deg, rgba(149,29,179,1) 0%, rgba(123,22,195,1) 36%, rgba(56,56,187,1) 65%, rgba(8,1,125,1) 93%)!important;
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  height: 80px; 
}
.card-text{
  color: white !important;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;    
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
p {
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;

}
.material-symbols-outlined {
  color: #360568;
}

.page-link {
  color: black !important;
}
.mb-3{
  justify-content: space-between;

}

.resultado{

display: flex;
  position: absolute;
  top: 10%;
  left: 80%;
      font-family: 'Playfair Display', serif;
  
}
.resultado-item{
  margin-left:60px;
}

.item-ok{
  border-left: 30px solid blue;
  
}
.item-pendente{
  border-left: 30px solid orange;
}

.item-ativo{
  border-left: 30px solid green;
}
.item-inativo{
  border-left: 30px solid red;
}

.resultadoP{
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

.resultadoU{
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  
}
.resultado-itemP{
  margin-left:47px;
  display: flex;
}
.resultado-itemU{
  margin-left:60px;
}
.item-atrasado{
  border-left: 30px solid #c32f27;
}
.item-ok{
  border-left: 30px solid #3745a4;
  
}
.limit {
  max-width: 5.8ch;
  overflow: hidden;
  white-space: nowrap;
}